button {
    padding: 10px 20px;
    margin: auto 20px;
}

.buttons {
    display: flex;
    flex: auto;
    justify-content: center;
    margin-bottom: 50px;
}

.game-history {
    padding: 20px;
    border: solid rgb(87, 162, 247);
}